<div class="row m-0 bg-success text-light">
  <div class="col">
    <!-- <img src="../images/logo.png" alt=""> -->
    <h1>Itinarary Planner</h1>
    <p>
      Aims to streamline the Itinerary Planning process,giving opportunity to
      all.
    </p>

    <div class="icons row justify-content-center">
      <i class="fa-brands fa-facebook fa-2x col"></i>
      <i class="fa-brands fa-twitter fa-2x col"></i>
      <i class="fa-brands fa-instagram fa-2x col"></i>
      <i class="fa-brands fa-linkedin fa-2x col"></i>
    </div>
  </div>
  <div class="col">
    <p>For Technophiles</p>
    <p>For Engineers</p>
    <p>For Developers</p>
    <p>For Frontend</p>
    <p>For Backend</p>
    <p>For Programmers</p>
  </div>
  <div class="col">
    <p>Company</p>
    <p>Career</p>
    <p>About</p>
    <p>API</p>
    <p>Terms of Service</p>
    <p>Privacy Policy</p>
  </div>
  <div class="col">
    <p>Hire Programmers</p>
    <p>Code Of conduct</p>
    <p>Advertise with us</p>
  </div>
</div>
