<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeXmMr_r6xLHreVV_rh0fIjqCfG8N0ziw</string>
	<key>GCM_SENDER_ID</key>
	<string>170735395486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>precise-sight-372314</string>
	<key>STORAGE_BUCKET</key>
	<string>precise-sight-372314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170735395486:ios:964be700874ddf540fd18f</string>
</dict>
</plist>